*{
    font-family: Arial;
    margin: 0px;
}
.container{
    width: 400px;
    /* border: 1px solid; */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px grey;
    background-color: rgb(237, 234, 234);
    margin: 5% auto;
}
h1 {
    margin-bottom: 20px;
}
#btn{
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    background-color:rgb(78, 198, 84);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#password{
    width: 250px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgb(168, 167, 167);
    border-radius: 5px;
    margin-bottom: 20px;
}
